{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
     <main class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
            <h2>Create an expense</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ budget_form|crispy }}
                    <div class="col">
                        <button type="submit" class="btn btn-danger mt-3 w-50">Submit</button>
                    </div>
                    <div class="col">
                        <a href="{% url 'budget_list' %}" class="btn btn-primary">Back to Home</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock  %}
    

