{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <main class="container">
        <div class="row justify-content-center add-budget-margin" style="margin-top:5rem;">
            <div class="col-md-6 card">
                <h2 class="mt-3">Create Budget</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ budget_form|crispy }}
                    <div class="row justify-content-center ml-5">
                        <div class="col">
                            <button type="submit" class="btn btn-danger mt-2 mb-2 w-100">Submit</button>
                        </div>
                        <div class="col">
                            <a href="{% url 'budget_list' %}" class="btn btn-primary mt-2 mb-2 w-100">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock  %}
    

