{% extends 'base.html' %}
{% load static %}



{% block content %}
    <main class="row justify-contetn-center" style="margin:100px 0px 0px 320px;">
        <div class="col-md-8">
            <div class="card text-center text-black mb-3">
                <div class="card-header">
                    <h5 class="card-title">Delete Expense</h5>
                </div>
                <h3>Are you sure you want to delete expense "{{transaction.category.name}}"</h3>
                <form action="{% url 'delete_transaction' transaction.pk %}" method="post">
                    {% csrf_token %}
                    <div class="mt-3 mb-3">
                        <button type="submit" class="btn btn-danger">Delete Transaction</button>
                        <a href="{% url 'budget_detail' user.budget.pk %}" class="btn btn-secondary">Cancel Transaction</a>
                    </div>
                </form>
            </div>
        </div>  
    </main>
{% endblock content %}