{% extends 'base2.html' %}
{% block head_title %} Password Reset Request {% endblock %}
{% load crispy_forms_tags %}



{% block content %}
<div class="content-section mt-5">
    <form method="POST" enctype="multipart/form-data">
        <fieldset class="form-group">
            <legend class="">Reset Password</legend>
            {% csrf_token %}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group pt-2 pb-2">
            <input type="submit" value="Request Password Reset" class="btn btn-outline-info">
        </div>
    </form>
</div>
{% endblock content %}


